

@font-face {
  font-family: "Sporting-Grotesque";
  src: url(Fonts/Sporting_Grotesque-Regular_web.woff2);
}

@font-face {
  font-family: "Pilowlava";
  src: url(fonts/Pilowlava-Regular.woff2);
}

.playlists-page-background {
  background-image: linear-gradient(0deg, #FFC8D8, #FFEAF0);
  padding: 100px;
  border: 18px white solid;
  height: 100%;
  min-height: 100vh;
}

.friday-header {
  font-size: 3em;
  color: #1C152E;
  font-family: "Sporting-Grotesque";
  margin-top:2em;
  margin-bottom: 0px;
}

.friday-secondary-header {
  color: #1C152E;
  margin: 0;
  font-size: 1.2em;
  font-weight: 200;
  max-width: 800px;
  padding-bottom: 20px;
}

.friday-snippet {
  color: #797485;
  font-weight: 200;
  font-size: 0.8em;
  margin-bottom: 40px;

}

.friday-snippet a {
  color: #797485;
  transition: .2s;
}

.friday-snippet a:hover {
  color: #10022D;
}

.sporting-grotesque {
  font-family: "Sporting-Grotesque";
}

.friday-button {
  background-color: transparent;
    border: #1C152E 1px solid;
    padding: 7px 10px;
    border-radius: 5px;
    color: #1C152E;
    margin-right: 6px;
    transition: .2s;
}

  .friday-button:hover {
    color: #1C152E;
    background-color: white;
    cursor: pointer;
    }

  .friday-button-active {
    color: white;
    background-color: #1C152E;
  }

.friday-item {
  border-top: 1px #797485 solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
  padding-top: 10px;

}

.friday-item-name {
  font-family: "Sporting-Grotesque";
  margin: 0;
  color: #1C152E;
}

  .friday-item-name a {
    color: inherit;
  }

.friday-item-description {
  margin: 0;
  font-weight:300;
  color: #1C152E;
}

.friday-tag-section {
    padding: 6px 10px;
    border-radius: 5px;
    font-size: .8em;
    background-color: rgba(255, 255, 255, .5);
    color: #1C152E;
}
