/* home */

.portfolio_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-gallery-image {
  width: 30%;
  margin-bottom: 5%;
}

.project-page-tile-junk_drawer {
    background-color: red;
    background-image: linear-gradient(180deg, #EBFFF9, #FFE4DB);
    padding: 100px;
    padding-bottom: 50px;
    border: 18px white solid;
}

.mod-dark{
  color: black;
}


@media only screen and (max-width: 740px) {
  .project-page-tile-junk_drawer {
      border: none;
    }

  .portfolio-gallery-image {
    width: 45%;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .project-name {
    font-size: 2.2rem;
    }

  .project-page-tile-junk_drawer {
      padding: 40px;
    }

    .project-description {
      font-size: 1.5rem;
    }

    .project-type {
      font-size: 1.2rem;
    }

    .project-case-study {
      padding: 20px 60px;
    }

    .large-project-header {
      font-size: 2rem;
    }

    .project-header-blurb {
      margin-bottom: 20px;
    }

    .project-information-blurb {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .small-project-header {
      margin: 0;
    }

    .project-footer {
      margin-top: 0;
    }

    .project-single-image, .project-2-small-images {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .project-footer {
      padding: 30px 40px;
      }

    .footer-project-name {
        display: none;
      }
}
