@font-face {
    font-family: 'Le_Murmure';
    src: url('fonts/LeMurmure-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting_Grotesque';
    src: url('fonts/Sporting_Grotesque-Regular_web.otf');
    font-weight: normal;
    font-style: normal;
  }

html {
  margin: 0;
  background-color: #2F0312;
}

body {
  margin: 0;
  background-color: #2F0312;
}

a {
  color: white;
}

.index-header {
  display: none;
}

.page-navigation{
  background-color: #FBF8F1;
  display: flex;
  justify-content: center;
  padding: 0px;
  font-family: Poppins;
  font-weight: normal;
}

  .page-navigation a {
    text-decoration: none;
    color: #2F0312;
    margin: 12px;
  }

  .page-navigation a:hover {
    font-style: italic;
  }

.red-background {
  background-color: #2F0312;
  background-image: url(images/background-homepage.png);
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.page-content {
  padding: 100px 0px;
}

.countdown {
  display: flex;
  justify-content: center;
  color: white;
}

.nick-and-alaina-logo {
  display: flex;
  justify-content: center;
}

.homepage-buttons {
  display: flex;
  justify-content: center;
}

.getting-married {
  font-family: Sporting_Grotesque;
  font-weight: lighter;
  padding: 10px;
}

.homepage-details {
}

.wedding-details {
    font-family: Poppins;
    font-weight: lighter;
    padding-bottom: 10px;
}

  .getting-married, .wedding-details {
    text-align: center;
    color: #FBF8F1;
  }

.homepage-buttons {
  margin-top: 32px;
}

.homepage-buttons a {
  background-color: transparent;
  border: 1px #FBF8F1 solid;
  color: #FBF8F1;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  margin: 8px;
  font-family: Poppins;
  font-weight: normal;
}

.homepage-buttons a:hover {
  transition: .3s;
  background-color: #FBF8F1;
  border: 1px #FBF8F1 solid;
  color: #2F0312;
}



.green-background {
  background-color: #072B2E;
  background-image: url(images/background-homepage.png);
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.page-header {
  display: flex;
  justify-content: center;
}

.page-header-title {
  font-family: Le_Murmure;
  color: #FBF8F1;
  font-size: 12rem;
  margin: 0;
  padding: 0;
  text-align: center;

}

.mini-header {
  text-align: center;
  color: #FBF8F1;
  font-family: Sporting_Grotesque;
  margin-left: auto;
  margin-right: auto;
}

.info-page-info-section {
  max-width: 750px;
  justify-content: center;
  text-align: center;
  color: #FBF8F1;
  font-family: Poppins;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}

.info-button a{
  background-color: transparent;
  border: 1px #FBF8F1 solid;
  color: #FBF8F1;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  margin: 8px;
  font-family: Poppins;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
}

.info-button a:hover {
  transition: .3s;
  background-color: #FBF8F1;
  border: 1px #FBF8F1 solid;
  color: #2F0312;
}


.rule {
  background-color: white;
  height: 1px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.hotels {
  margin-top: 50px;
}

.green-background, .red-background {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 600px) {
  .page-header-title {
    font-size: 6rem;
  }

  .nick-and-alaina-logo {
    display: none;
  }

  .index-header {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .nav-icon {
    display: none;
  }

  .homepage-buttons {
    display: none;
  }

  .page-navigation a {
    font-size: .85rem;
  }
}
